
  .div-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
  }
  .block-1 {
    display: inline-block;
    width: 100%;
  }
  .block-2 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  .thumbnail {
    width: 100%;
  }
  .thumbnail-row {
    width: 100%;
    position: relative;
  }
  .h1 {
    width: 200px;
    margin-top: 0;
  }
  .p1 {
    color: grey;
    width: 200px;
    margin-bottom: 0px;
  }
  .p1-2 {
    margin-top: 0px;
    color: grey;
  }
  .small-picture {
    width: 80%;
    border-radius: 50%;
  }
  .div-pic {
    display: inline-block;
    width: 55px;
    margin-right: 20px;
    margin-left: 0px;
    vertical-align: top;
  }
  .div-text {
    display: inline-block;
    width: 220px;
    font-size: 13px;
  }
  .video-time {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 2px;
    font-family: roboto, Arial;
    font-weight: 400;
    font-size: 12px;
    padding:3px;
    padding-left: 4px;
    padding-right: 4px;
    right: 5px;
    bottom: 8px;
    position: absolute;
  }